<!DOCTYPE html>
<html lang="pt-BR">
{% include "partials/head.html" %}
<body>
    {% include "partials/navbar.html" %}
    <section class="main-content">
        {% include "partials/messages.html" %}
        <div class="row">
            <div class="col-md-10">
                <h1>Olá {{ user.username }}</h1>
            </div>
            <div class="col-md-2">
                {% url "planted_trees" as planted_trees_url %}
                {% if not request.path == planted_trees_url and user.is_authenticated %}
                    <a class="btn btn-primary" href="{{ planted_trees_url }}"> Voltar </a>
                {% endif %}
            </div>
        </div>
        <div>
            <p class="text-secondary">
                {% block page_description %} {% endblock %}
            </p>
        </div>
        {% block content %}{% endblock %}
    </section>
    {% include "partials/footer.html" %}
</body>
{% include "partials/scripts.html" %}
<html/>